.admin-layout-container{
    /* display: grid;     */
}
.admin-sidebar{
    border: 1px solid black;
    position: fixed;
    height: 100vh;
    width:17%;
}
.admin-outlet{
    border: 1px solid blue;
    margin-left:17%;
    box-sizing: border-box;
}